@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EFEAD7;
  color: #2b2b2b;
  font-family: Arial, sans-serif;
}

#SuperWrapper, #Wrapper {
 
  background-color: #EFEAD7;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 75px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
border-bottom: solid black 20px
}

#logo img {
  height: 80px;
  width: auto;
float:left
}

#navigasion a {
  margin-left: 20px;
  text-decoration: none;
  color: #2b2b2b;
  font-weight: bold;
  font-family: Arial, sans-serif;
  transition: color 0.3s;
  text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

#navigasion a:hover {
  color: #888;
}
#background-layer {padding-top:100px;float:left}